.rack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 13px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.temp-rack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 507px;
    gap: 13px;
    padding-bottom: 20px;
}

.rack-cell.selected {
    border-color: rgb(207, 123, 123); /* Highlight border */
    background-color: rgb(255, 126, 126); /* Highlight background */
    box-shadow: 0 0 12px rgb(255, 101, 101);
    transform: scale(1.1); /* Slight enlargement */
}

.rack-cell:hover {
    transform: scale(1.15);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.front-tile {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #444;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    user-select: none;
}

.front-tile:active {   
    border: 1px solid #000000;
    background-color: #d3d3d3;
}

.empty-tile {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, rgb(49, 49, 49) 0%, rgb(55, 55, 55) 70%, rgb(73, 73, 73) 100%);
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #444;
    transition: transform 0.2s, box-shadow 0.2s;
}

.rack-cell .tile-name {
    font-size: 20px;
    color: #3e3e3e;
    z-index: 1;
}

.rack-cell .tile-point {
    font-size: 12px;
    color: #3e3e3e; 
    z-index: 1000;
}