.app-submit {
    width: 35%;
}

.submit-text:active {
    background-color: white;
}

.submit-text:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.submit-text {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    user-select: none;
}