.board {
    height: 100%;
    width: 100%;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: repeat(15, 49px);
}

.row {
    display: grid;
    grid-template-columns: repeat(15, 49px);
}

.cell {
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    /* font-weight: bold; */
    border: 1px solid #000000;
    background-color: #60b7ff;
    user-select: none;
    cursor: pointer;
}
  
.cell:hover {
    background-color: #ddd;
}

.tile {
    position: relative;
    width: 43px;
    height: 43px;
    background-color: #333333;
    border-radius: 2px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.tile.selected {
    background-color: #333333; 
    box-shadow: 0 0px 12px rgb(0, 0, 0);
    transform: scale(1.1); 
}

.tile.locked {
    width: 45px;
    height: 45px;
    border-radius: 0px;
    border: 1px solid #444444;
    background-color: #333333; 
    transform: translate(0,0);
}

.tile-name {
    font-size: 20px;
    z-index: 1;
}

.tile .tile-point {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 10px;
    color: #ffffff;
}

.str-image {
    height: 30px;
}

.Px1 {
    background-color: #f4f4f4;
    /* #7c7c7c */
}

.Px2 {
    background-color: #ffc251;
}

.Px3 .str {
    background-color: #4dafff;
    color: white;
}

.Ex2 {
    background-color: #ffff77;
}

.Ex3 {
    background-color: #ff4949;
    color: white;
}