.app-container {
    margin: auto;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(34, 34, 34);
    justify-content: center;
}

.lefths {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2.9rem;
}

.righths {
    justify-content: center;
    width: 100%;
    height: 100%;
}

.top-section {
    padding-top: 2rem;
}

.center-section {
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.action {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    gap: 2.5%;
}

.pass-button {
    width: 10%;
}
